html {
    --name: 主题5;
    --main_bg_color: url(../img/background.jpg);
    --main_text_color: #eeeeee;
    --gradient: linear-gradient(120deg, #6023fa, #b152ff, #c4d3d2, #007bff, #1fffec, #37e29e);
    --purple_text_color: #747bff;
    --text_bg_color: #00000056;
    --item_bg_color: #00000038;
    --item_hover_color: #dc545438;
    --item_left_title_color: #0dece5;
    --item_left_text_color: #ffffff;
    --footer_text_color: #ffffff;
    --left_tag_item: linear-gradient(1deg, #03ffd9a5, #6b9fa175 30%, #49b3ca5a 40%);
    --card_filter: 30px;
    --back_filter: 10px;
    --back_filter_color: #29444630;
    --fill: #ffffff;
}